class @com.herokuapp.lorem-rss.broken.hasaction
#[version=1] {
  import loader from @org.thingpedia.rss();
  import config from @org.thingpedia.config.none();

  monitorable query feed(out title: String #[is_required=false],
                         out link: Entity(tt:url) #[is_required=false],
                         out description: String #[is_required=false],
                         out updated_time: Date #[is_required=false])
  #[poll_interval=60000ms]
  #[url="http://lorem-rss.herokuapp.com/feed"];

  action post_action(in opt input: String #[is_required=true])
  #[url="https://httpbin.org/post"];
}

